// BACKGROUND COLOR
$primary: #ffff;
$secondary: #fb4226;
$green: #00ac4d;
$footer: #222;
$hrPrimary: #ebebec;

// TeXt color
$cPrimary: #000;
$cSecondary: #108f3e;
$cGray: #9b9b9b;
$cRed: #fb4226;
$cFooter: #949494;

//FONT SIZE
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 25px;
$h5: 24px;
$h6: 20px;
$subtitle1: 18px;
$subtitle2: 16px;
$body1: 14px;
$body2: 12px;

//FONT WEIGHT
$bolder: 900;
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//SPACING
$spacing: 10px;

//Margin
$mrt: 35px;
